# Pandas Tutorial
In this notebook you will learn some basic operations of pandas, including reading files, visualizing and manipulating data.

An official tutorial can be found here: https://pandas.pydata.org/pandas-docs/stable/getting_started/10min.html#missing-data

In [1]:
import pandas as pd
import numpy as np

# Basic Data Structure: DataFrame & Series
DataFrame is tabular data, a kind of 2-dimensional labeled data structure with columns of potentially different types. Series is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index. A dataframe can be regarded as consisting of several Series, each one as one column.

In [2]:
s = pd.Series([1,2,3,4,5], index=['a', 'b', 'c', 'd', 'e'])
s2 = pd.Series([6,7,8,9,10], index=['e', 'd', 'c', 'b', 'a'])
print(s)
print(s2[1])
print(s2["a"])

a    1
b    2
c    3
d    4
e    5
dtype: int64
7
10

Two ways to create a new dataframe are introduced here: from numpy array or from a list/dict of Series.Instead of using positions for indexing in Numpy, you can customize index in different types. For rows, generally we use string/integer variable that can uniquely identify a sample, such as student id. For columns, we use feature names as indexes.

In [3]:
pd.DataFrame(np.ones((6, 4)),index=["one","two","three","four","five","six"], columns=["A","B","C","D"])

         A    B    C    D
one    1.0  1.0  1.0  1.0
two    1.0  1.0  1.0  1.0
three  1.0  1.0  1.0  1.0
four   1.0  1.0  1.0  1.0
five   1.0  1.0  1.0  1.0
six    1.0  1.0  1.0  1.0

The indexes in pandas objects can indexing/selecting data using known indicators and enables automatic and explicit data alignment.

In [4]:
pd.DataFrame([s,s2],index=None, columns=['a', 'b', 'c', 'd', 'e'])

    a  b  c  d  e
0   1  2  3  4  5
1  10  9  8  7  6

In [5]:
pd.concat([s,s2], axis=1)

/Users/gardasnagarjun/anaconda2/lib/python2.7/site-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

   0   1
a  1  10
b  2   9
c  3   8
d  4   7
e  5   6

Pandas provides tools to create DataFrame with different types, they can be used to create DataFrame structure. (broadcasting involved)

In [6]:
df = pd.DataFrame({'A': 1.,
                   'B': pd.Timestamp('20130102'),
                   'C': pd.Series(1, index=list(range(4)), dtype='float32'),
                   'D': np.array([3] * 4, dtype='int32'),
                   'E': pd.Categorical(["test", "train", "test", "train"]),
                   'F': 'foo'})
df

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

Generally, we use pandas to read excel/csv files to construct our DataFrame.

In [7]:
trainDataframe = pd.read_csv("titanic/train.csv")
trainDataframe = trainDataframe.set_index("PassengerId")
trainDataframe

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

# We can use indexing to choose specific column. Pls note that, different from numpy, directly indexing starts from columns.

In [8]:
trainDataframe["Age"]

PassengerId
1      22.0
2      38.0
3      26.0
4      35.0
5      35.0
6       NaN
7      54.0
8       2.0
9      27.0
10     14.0
11      4.0
12     58.0
13     20.0
14     39.0
15     14.0
16     55.0
17      2.0
18      NaN
19     31.0
20      NaN
21     35.0
22     34.0
23     15.0
24     28.0
25      8.0
26     38.0
27      NaN
28     19.0
29      NaN
30      NaN
       ...
862    21.0
863    48.0
864     NaN
865    24.0
866    42.0
867    27.0
868    31.0
869     NaN
870     4.0
871    26.0
872    47.0
873    33.0
874    47.0
875    28.0
876    15.0
877    20.0
878    19.0
879     NaN
880    56.0
881    25.0
882    33.0
883    22.0
884    28.0
885    25.0
886    39.0
887    27.0
888    19.0
889     NaN
890    26.0
891    32.0
Name: Age, Length: 891, dtype: float64

We will continue our journey with pandas with this titanic DataFrame.

# Viewing Data

We can get the basic information of a dataframe by getting its attribute.

In [9]:
print(trainDataframe.columns)
print(trainDataframe.index)
print(trainDataframe.dtypes)

Index([u'Survived', u'Pclass', u'Name', u'Sex', u'Age', u'SibSp', u'Parch',
       u'Ticket', u'Fare', u'Cabin', u'Embarked'],
      dtype='object')
Int64Index([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,
            ...
            882, 883, 884, 885, 886, 887, 888, 889, 890, 891],
           dtype='int64', name=u'PassengerId', length=891)
Survived      int64
Pclass        int64
Name         object
Sex          object
Age         float64
SibSp         int64
Parch         int64
Ticket       object
Fare        float64
Cabin        object
Embarked     object
dtype: object

In [10]:
# Check the head/tail of a dataframe
trainDataframe.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [11]:
trainDataframe.tail(10)

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

describe() shows a quick statistic summary of your numeric features:

In [12]:
trainDataframe["Age"].describe()

count    714.000000
mean      29.699118
std       14.526497
min        0.420000
25%       20.125000
50%       28.000000
75%       38.000000
max       80.000000
Name: Age, dtype: float64

Value_counts performs counting on categorical features.

In [13]:
trainDataframe["Embarked"].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

# Indexing and Selecting Data

Selecting/indexing data from pandas is similar with that in numpy.
Two methods are provided here. 

dataFrame.loc["row_index_name", "column_index_name"]

dataFrame.iloc["row_id", "column_id"]

In [14]:
print(trainDataframe.loc[1, "Name"])
print(trainDataframe.loc[1])
print(trainDataframe.loc[1:5, "Name":"Age"])

Braund, Mr. Owen Harris
Survived                          0
Pclass                            3
Name        Braund, Mr. Owen Harris
Sex                            male
Age                              22
SibSp                             1
Parch                             0
Ticket                    A/5 21171
Fare                           7.25
Cabin                           NaN
Embarked                          S
Name: 1, dtype: object
                                                          Name     Sex   Age
PassengerId
1                                      Braund, Mr. Owen Harris    male  22.0
2            Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0
3                                       Heikkinen, Miss. Laina  female  26.0
4                 Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0
5                                     Allen, Mr. William Henry    male  35.0

In [15]:
print(trainDataframe.iloc[0,0])
print(trainDataframe.iloc[0])
print(trainDataframe.iloc[0:3,0:3])

0
Survived                          0
Pclass                            3
Name        Braund, Mr. Owen Harris
Sex                            male
Age                              22
SibSp                             1
Parch                             0
Ticket                    A/5 21171
Fare                           7.25
Cabin                           NaN
Embarked                          S
Name: 1, dtype: object
             Survived  Pclass  \
PassengerId
1                   0       3
2                   1       1
3                   1       3

                                                          Name
PassengerId
1                                      Braund, Mr. Owen Harris
2            Cumings, Mrs. John Bradley (Florence Briggs Th...
3                                       Heikkinen, Miss. Laina

As showed before, directly indexing is the same as loc[:,column_name], and support chained indexing instead of multi indexes.

In [16]:
trainDataframe["Sex"][1]

'male'

Boolean indexing is very useful when you want to obtain rows satisfying specific conditions. (Pls note that it starts with row index now!)

In [17]:
trainDataframe[trainDataframe["Age"] > 20]["Age"]

PassengerId
1      22.0
2      38.0
3      26.0
4      35.0
5      35.0
7      54.0
9      27.0
12     58.0
14     39.0
16     55.0
19     31.0
21     35.0
22     34.0
24     28.0
26     38.0
31     40.0
34     66.0
35     28.0
36     42.0
38     21.0
41     40.0
42     27.0
52     21.0
53     49.0
54     29.0
55     65.0
57     21.0
58     28.5
61     22.0
62     38.0
       ...
846    42.0
848    35.0
849    28.0
852    74.0
855    44.0
857    45.0
858    51.0
859    24.0
861    41.0
862    21.0
863    48.0
865    24.0
866    42.0
867    27.0
868    31.0
871    26.0
872    47.0
873    33.0
874    47.0
875    28.0
880    56.0
881    25.0
882    33.0
883    22.0
884    28.0
885    25.0
886    39.0
887    27.0
890    26.0
891    32.0
Name: Age, Length: 535, dtype: float64

In [18]:
trainDataframe.loc[trainDataframe["Age"] > 20]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
31,0,1,"Uruchurtu, Don. Manuel E",male,40.0,0,0,PC 17601,27.7208,NaN,C
34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S
35,0,1,"Meyer, Mr. Edgar Joseph",male,28.0,1,0,PC 17604,82.1708,NaN,C
36,0,1,"Holverson, Mr. Alexander Oskar",male,42.0,1,0,113789,52.0000,NaN,S
38,0,3,"Cann, Mr. Ernest Charles",male,21.0,0,0,A./5. 2152,8.0500,NaN,S
41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.0,1,0,7546,9.4750,NaN,S
42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann ...",female,27.0,1,0,11668,21.0000,NaN,S
52,0,3,"Nosworthy, Mr. Richard Cater",male,21.0,0,0,A/4. 39886,7.8000,NaN,S
53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.0,1,0,PC 17572,76.7292,D33,C
54,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkin...",female,29.0,1,0,2926,26.0000,NaN,S
55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.0,0,1,113509,61.9792,B30,C
57,1,2,"Rugg, Miss. Emily",female,21.0,0,0,C.A. 31026,10.5000,NaN,S
58,0,3,"Novel, Mr. Mansouer",male,28.5,0,0,2697,7.2292,NaN,C
61,0,3,"Sirayanian, Mr. Orsen",male,22.0,0,0,2669,7.2292,NaN,C
62,1,1,"Icard, Miss. Amelie",female,38.0,0,0,113572,80.0000,B28,NaN
...,...,...,...,...,...,...,...,...,...,...,...
846,0,3,"Abbing, Mr. Anthony",male,42.0,0,0,C.A. 5547,7.5500,NaN,S
848,0,3,"Markoff, Mr. Marin",male,35.0,0,0,349213,7.8958,NaN,C
849,0,2,"Harper, Rev. John",male,28.0,0,1,248727,33.0000,NaN,S
852,0,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.7750,NaN,S
855,0,2,"Carter, Mrs. Ernest Courtenay (Lilian Hughes)",female,44.0,1,0,244252,26.0000,NaN,S
857,1,1,"Wick, Mrs. George Dennick (Mary Hitchcock)",female,45.0,1,1,36928,164.8667,NaN,S
858,1,1,"Daly, Mr. Peter Denis",male,51.0,0,0,113055,26.5500,E17,S
859,1,3,"Baclini, Mrs. Solomon (Latifa Qurban)",female,24.0,0,3,2666,19.2583,NaN,C
861,0,3,"Hansen, Mr. Claus Peter",male,41.0,2,0,350026,14.1083,NaN,S
862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

# Data Transformation and Pre-Processing

### adding/deleting feature

In [19]:
trainDataframe

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.0500,NaN,S
14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.2750,NaN,S
15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,NaN,S
16,1,2,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,0,0,248706,16.0000,NaN,S
17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.1250,NaN,Q
18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S
19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,1,0,345763,18.0000,NaN,S
20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C
21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0000,NaN,S
22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0000,D56,S
23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,NaN,Q
24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.0750,NaN,S
26,1,3,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia...",female,38.0,1,5,347077,31.3875,NaN,S
27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C
28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0000,C23 C25 C27,S
29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q
30,0,3,"Todoroff, Mr. Lalio",male,NaN,0,0,349216,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
862,0,2,"Giles, Mr. Frederick Edward",male,21.0,1,0,28134,11.5000,NaN,S
863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.0,0,0,17466,25.9292,D17,S
864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
865,0,2,"Gill, Mr. John William",male,24.0,0,0,233866,13.0000,NaN,S
866,1,2,"Bystrom, Mrs. (Karolina)",female,42.0,0,0,236852,13.0000,NaN,S
867,1,2,"Duran y More, Miss. Asuncion",female,27.0,1,0,SC/PARIS 2149,13.8583,NaN,C
868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
870,1,3,"Johnson, Master. Harold Theodor",male,4.0,1,1,347742,11.1333,NaN,S
871,0,3,"Balkic, Mr. Cerin",male,26.0,0,0,349248,7.8958,NaN,S
872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
874,0,3,"Vander Cruyssen, Mr. Victor",male,47.0,0,0,345765,9.0000,NaN,S
875,1,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,1,0,P/PP 3381,24.0000,NaN,C
876,1,3,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0,0,0,2667,7.2250,NaN,C
877,0,3,"Gustafsson, Mr. Alfred Ossian",male,20.0,0,0,7534,9.8458,NaN,S
878,0,3,"Petroff, Mr. Nedelio",male,19.0,0,0,349212,7.8958,NaN,S
879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
882,0,3,"Markun, Mr. Johann",male,33.0,0,0,349257,7.8958,NaN,S
883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S
885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S
886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [20]:
trainDataframe.drop([ "Ticket", "Name"], axis = 1, inplace=True)

In [21]:
trainDataframe

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
PassengerId,,,,,,,,,
1,0,3,male,22.0,1,0,7.2500,NaN,S
2,1,1,female,38.0,1,0,71.2833,C85,C
3,1,3,female,26.0,0,0,7.9250,NaN,S
4,1,1,female,35.0,1,0,53.1000,C123,S
5,0,3,male,35.0,0,0,8.0500,NaN,S
6,0,3,male,NaN,0,0,8.4583,NaN,Q
7,0,1,male,54.0,0,0,51.8625,E46,S
8,0,3,male,2.0,3,1,21.0750,NaN,S
9,1,3,female,27.0,0,2,11.1333,NaN,S
10,1,2,female,14.0,1,0,30.0708,NaN,C
11,1,3,female,4.0,1,1,16.7000,G6,S
12,1,1,female,58.0,0,0,26.5500,C103,S
13,0,3,male,20.0,0,0,8.0500,NaN,S
14,0,3,male,39.0,1,5,31.2750,NaN,S
15,0,3,female,14.0,0,0,7.8542,NaN,S
16,1,2,female,55.0,0,0,16.0000,NaN,S
17,0,3,male,2.0,4,1,29.1250,NaN,Q
18,1,2,male,NaN,0,0,13.0000,NaN,S
19,0,3,female,31.0,1,0,18.0000,NaN,S
20,1,3,female,NaN,0,0,7.2250,NaN,C
21,0,2,male,35.0,0,0,26.0000,NaN,S
22,1,2,male,34.0,0,0,13.0000,D56,S
23,1,3,female,15.0,0,0,8.0292,NaN,Q
24,1,1,male,28.0,0,0,35.5000,A6,S
25,0,3,female,8.0,3,1,21.0750,NaN,S
26,1,3,female,38.0,1,5,31.3875,NaN,S
27,0,3,male,NaN,0,0,7.2250,NaN,C
28,0,1,male,19.0,3,2,263.0000,C23 C25 C27,S
29,1,3,female,NaN,0,0,7.8792,NaN,Q
30,0,3,male,NaN,0,0,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...
862,0,2,male,21.0,1,0,11.5000,NaN,S
863,1,1,female,48.0,0,0,25.9292,D17,S
864,0,3,female,NaN,8,2,69.5500,NaN,S
865,0,2,male,24.0,0,0,13.0000,NaN,S
866,1,2,female,42.0,0,0,13.0000,NaN,S
867,1,2,female,27.0,1,0,13.8583,NaN,C
868,0,1,male,31.0,0,0,50.4958,A24,S
869,0,3,male,NaN,0,0,9.5000,NaN,S
870,1,3,male,4.0,1,1,11.1333,NaN,S
871,0,3,male,26.0,0,0,7.8958,NaN,S
872,1,1,female,47.0,1,1,52.5542,D35,S
873,0,1,male,33.0,0,0,5.0000,B51 B53 B55,S
874,0,3,male,47.0,0,0,9.0000,NaN,S
875,1,2,female,28.0,1,0,24.0000,NaN,C
876,1,3,female,15.0,0,0,7.2250,NaN,C
877,0,3,male,20.0,0,0,9.8458,NaN,S
878,0,3,male,19.0,0,0,7.8958,NaN,S
879,0,3,male,NaN,0,0,7.8958,NaN,S
880,1,1,female,56.0,0,1,83.1583,C50,C
881,1,2,female,25.0,0,1,26.0000,NaN,S
882,0,3,male,33.0,0,0,7.8958,NaN,S
883,0,3,female,22.0,0,0,10.5167,NaN,S
884,0,2,male,28.0,0,0,10.5000,NaN,S
885,0,3,male,25.0,0,0,7.0500,NaN,S
886,0,3,female,39.0,0,5,29.1250,NaN,Q
887,0,2,male,27.0,0,0,13.0000,NaN,S
888,1,1,female,19.0,0,0,30.0000,B42,S
889,0,3,female,NaN,1,2,23.4500,NaN,S
890,1,1,male,26.0,0,0,30.0000,C148,C
891,0,3,male,32.0,0,0,7.7500,NaN,Q

Inplace = True: No DataFrame returned, the change happens in trainDataframe.

Inplace = False: Changed DataFrame returned, the change doesn't happen in trainDataframe.

Default: Inplace = False.

In [22]:
trainDataframe

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked
PassengerId,,,,,,,,,
1,0,3,male,22.0,1,0,7.2500,NaN,S
2,1,1,female,38.0,1,0,71.2833,C85,C
3,1,3,female,26.0,0,0,7.9250,NaN,S
4,1,1,female,35.0,1,0,53.1000,C123,S
5,0,3,male,35.0,0,0,8.0500,NaN,S
6,0,3,male,NaN,0,0,8.4583,NaN,Q
7,0,1,male,54.0,0,0,51.8625,E46,S
8,0,3,male,2.0,3,1,21.0750,NaN,S
9,1,3,female,27.0,0,2,11.1333,NaN,S
10,1,2,female,14.0,1,0,30.0708,NaN,C
11,1,3,female,4.0,1,1,16.7000,G6,S
12,1,1,female,58.0,0,0,26.5500,C103,S
13,0,3,male,20.0,0,0,8.0500,NaN,S
14,0,3,male,39.0,1,5,31.2750,NaN,S
15,0,3,female,14.0,0,0,7.8542,NaN,S
16,1,2,female,55.0,0,0,16.0000,NaN,S
17,0,3,male,2.0,4,1,29.1250,NaN,Q
18,1,2,male,NaN,0,0,13.0000,NaN,S
19,0,3,female,31.0,1,0,18.0000,NaN,S
20,1,3,female,NaN,0,0,7.2250,NaN,C
21,0,2,male,35.0,0,0,26.0000,NaN,S
22,1,2,male,34.0,0,0,13.0000,D56,S
23,1,3,female,15.0,0,0,8.0292,NaN,Q
24,1,1,male,28.0,0,0,35.5000,A6,S
25,0,3,female,8.0,3,1,21.0750,NaN,S
26,1,3,female,38.0,1,5,31.3875,NaN,S
27,0,3,male,NaN,0,0,7.2250,NaN,C
28,0,1,male,19.0,3,2,263.0000,C23 C25 C27,S
29,1,3,female,NaN,0,0,7.8792,NaN,Q
30,0,3,male,NaN,0,0,7.8958,NaN,S
...,...,...,...,...,...,...,...,...,...
862,0,2,male,21.0,1,0,11.5000,NaN,S
863,1,1,female,48.0,0,0,25.9292,D17,S
864,0,3,female,NaN,8,2,69.5500,NaN,S
865,0,2,male,24.0,0,0,13.0000,NaN,S
866,1,2,female,42.0,0,0,13.0000,NaN,S
867,1,2,female,27.0,1,0,13.8583,NaN,C
868,0,1,male,31.0,0,0,50.4958,A24,S
869,0,3,male,NaN,0,0,9.5000,NaN,S
870,1,3,male,4.0,1,1,11.1333,NaN,S
871,0,3,male,26.0,0,0,7.8958,NaN,S
872,1,1,female,47.0,1,1,52.5542,D35,S
873,0,1,male,33.0,0,0,5.0000,B51 B53 B55,S
874,0,3,male,47.0,0,0,9.0000,NaN,S
875,1,2,female,28.0,1,0,24.0000,NaN,C
876,1,3,female,15.0,0,0,7.2250,NaN,C
877,0,3,male,20.0,0,0,9.8458,NaN,S
878,0,3,male,19.0,0,0,7.8958,NaN,S
879,0,3,male,NaN,0,0,7.8958,NaN,S
880,1,1,female,56.0,0,1,83.1583,C50,C
881,1,2,female,25.0,0,1,26.0000,NaN,S
882,0,3,male,33.0,0,0,7.8958,NaN,S
883,0,3,female,22.0,0,0,10.5167,NaN,S
884,0,2,male,28.0,0,0,10.5000,NaN,S
885,0,3,male,25.0,0,0,7.0500,NaN,S
886,0,3,female,39.0,0,5,29.1250,NaN,Q
887,0,2,male,27.0,0,0,13.0000,NaN,S
888,1,1,female,19.0,0,0,30.0000,B42,S
889,0,3,female,NaN,1,2,23.4500,NaN,S
890,1,1,male,26.0,0,0,30.0000,C148,C
891,0,3,male,32.0,0,0,7.7500,NaN,Q

In [23]:
trainDataframe['FamilySize'] = trainDataframe["Parch"] + trainDataframe["SibSp"]
trainDataframe

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,FamilySize
PassengerId,,,,,,,,,,
1,0,3,male,22.0,1,0,7.2500,NaN,S,1
2,1,1,female,38.0,1,0,71.2833,C85,C,1
3,1,3,female,26.0,0,0,7.9250,NaN,S,0
4,1,1,female,35.0,1,0,53.1000,C123,S,1
5,0,3,male,35.0,0,0,8.0500,NaN,S,0
6,0,3,male,NaN,0,0,8.4583,NaN,Q,0
7,0,1,male,54.0,0,0,51.8625,E46,S,0
8,0,3,male,2.0,3,1,21.0750,NaN,S,4
9,1,3,female,27.0,0,2,11.1333,NaN,S,2
10,1,2,female,14.0,1,0,30.0708,NaN,C,1
11,1,3,female,4.0,1,1,16.7000,G6,S,2
12,1,1,female,58.0,0,0,26.5500,C103,S,0
13,0,3,male,20.0,0,0,8.0500,NaN,S,0
14,0,3,male,39.0,1,5,31.2750,NaN,S,6
15,0,3,female,14.0,0,0,7.8542,NaN,S,0
16,1,2,female,55.0,0,0,16.0000,NaN,S,0
17,0,3,male,2.0,4,1,29.1250,NaN,Q,5
18,1,2,male,NaN,0,0,13.0000,NaN,S,0
19,0,3,female,31.0,1,0,18.0000,NaN,S,1
20,1,3,female,NaN,0,0,7.2250,NaN,C,0
21,0,2,male,35.0,0,0,26.0000,NaN,S,0
22,1,2,male,34.0,0,0,13.0000,D56,S,0
23,1,3,female,15.0,0,0,8.0292,NaN,Q,0
24,1,1,male,28.0,0,0,35.5000,A6,S,0
25,0,3,female,8.0,3,1,21.0750,NaN,S,4
26,1,3,female,38.0,1,5,31.3875,NaN,S,6
27,0,3,male,NaN,0,0,7.2250,NaN,C,0
28,0,1,male,19.0,3,2,263.0000,C23 C25 C27,S,5
29,1,3,female,NaN,0,0,7.8792,NaN,Q,0
30,0,3,male,NaN,0,0,7.8958,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...
862,0,2,male,21.0,1,0,11.5000,NaN,S,1
863,1,1,female,48.0,0,0,25.9292,D17,S,0
864,0,3,female,NaN,8,2,69.5500,NaN,S,10
865,0,2,male,24.0,0,0,13.0000,NaN,S,0
866,1,2,female,42.0,0,0,13.0000,NaN,S,0
867,1,2,female,27.0,1,0,13.8583,NaN,C,1
868,0,1,male,31.0,0,0,50.4958,A24,S,0
869,0,3,male,NaN,0,0,9.5000,NaN,S,0
870,1,3,male,4.0,1,1,11.1333,NaN,S,2
871,0,3,male,26.0,0,0,7.8958,NaN,S,0
872,1,1,female,47.0,1,1,52.5542,D35,S,2
873,0,1,male,33.0,0,0,5.0000,B51 B53 B55,S,0
874,0,3,male,47.0,0,0,9.0000,NaN,S,0
875,1,2,female,28.0,1,0,24.0000,NaN,C,1
876,1,3,female,15.0,0,0,7.2250,NaN,C,0
877,0,3,male,20.0,0,0,9.8458,NaN,S,0
878,0,3,male,19.0,0,0,7.8958,NaN,S,0
879,0,3,male,NaN,0,0,7.8958,NaN,S,0
880,1,1,female,56.0,0,1,83.1583,C50,C,1
881,1,2,female,25.0,0,1,26.0000,NaN,S,1
882,0,3,male,33.0,0,0,7.8958,NaN,S,0
883,0,3,female,22.0,0,0,10.5167,NaN,S,0
884,0,2,male,28.0,0,0,10.5000,NaN,S,0
885,0,3,male,25.0,0,0,7.0500,NaN,S,0
886,0,3,female,39.0,0,5,29.1250,NaN,Q,5
887,0,2,male,27.0,0,0,13.0000,NaN,S,0
888,1,1,female,19.0,0,0,30.0000,B42,S,0
889,0,3,female,NaN,1,2,23.4500,NaN,S,3
890,1,1,male,26.0,0,0,30.0000,C148,C,0
891,0,3,male,32.0,0,0,7.7500,NaN,Q,0

### sorting

In [24]:
trainDataframe.sort_values(by="Fare", ascending=False)

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,FamilySize
PassengerId,,,,,,,,,,
259,1,1,female,35.00,0,0,512.3292,NaN,C,0
738,1,1,male,35.00,0,0,512.3292,B101,C,0
680,1,1,male,36.00,0,1,512.3292,B51 B53 B55,C,1
89,1,1,female,23.00,3,2,263.0000,C23 C25 C27,S,5
28,0,1,male,19.00,3,2,263.0000,C23 C25 C27,S,5
342,1,1,female,24.00,3,2,263.0000,C23 C25 C27,S,5
439,0,1,male,64.00,1,4,263.0000,C23 C25 C27,S,5
312,1,1,female,18.00,2,2,262.3750,B57 B59 B63 B66,C,4
743,1,1,female,21.00,2,2,262.3750,B57 B59 B63 B66,C,4
119,0,1,male,24.00,0,1,247.5208,B58 B60,C,1
300,1,1,female,50.00,0,1,247.5208,B58 B60,C,1
558,0,1,male,NaN,0,0,227.5250,NaN,C,0
701,1,1,female,18.00,1,0,227.5250,C62 C64,C,1
381,1,1,female,42.00,0,0,227.5250,NaN,C,0
717,1,1,female,38.00,0,0,227.5250,C45,C,0
528,0,1,male,NaN,0,0,221.7792,C95,S,0
378,0,1,male,27.00,0,2,211.5000,C82,C,2
731,1,1,female,29.00,0,0,211.3375,B5,S,0
780,1,1,female,43.00,0,1,211.3375,B3,S,1
690,1,1,female,15.00,0,1,211.3375,B5,S,1
319,1,1,female,31.00,0,2,164.8667,C7,S,2
857,1,1,female,45.00,1,1,164.8667,NaN,S,2
269,1,1,female,58.00,0,1,153.4625,C125,S,1
333,0,1,male,38.00,0,1,153.4625,C91,S,1
610,1,1,female,40.00,0,0,153.4625,C125,S,0
499,0,1,female,25.00,1,2,151.5500,C22 C26,S,3
306,1,1,male,0.92,1,2,151.5500,C22 C26,S,3
298,0,1,female,2.00,1,2,151.5500,C22 C26,S,3
709,1,1,female,22.00,0,0,151.5500,NaN,S,0
196,1,1,female,58.00,0,0,146.5208,B80,C,0
...,...,...,...,...,...,...,...,...,...,...
364,0,3,male,35.00,0,0,7.0500,NaN,S,0
478,0,3,male,29.00,1,0,7.0458,NaN,S,1
130,0,3,male,45.00,0,0,6.9750,NaN,S,0
805,1,3,male,27.00,0,0,6.9750,NaN,S,0
826,0,3,male,NaN,0,0,6.9500,NaN,Q,0
412,0,3,male,NaN,0,0,6.8583,NaN,Q,0
655,0,3,female,18.00,0,0,6.7500,NaN,Q,0
144,0,3,male,19.00,0,0,6.7500,NaN,Q,0
203,0,3,male,34.00,0,0,6.4958,NaN,S,0
372,0,3,male,18.00,1,0,6.4958,NaN,S,1
819,0,3,male,43.00,0,0,6.4500,NaN,S,0
844,0,3,male,34.50,0,0,6.4375,NaN,C,0
327,0,3,male,61.00,0,0,6.2375,NaN,S,0
873,0,1,male,33.00,0,0,5.0000,B51 B53 B55,S,0
379,0,3,male,20.00,0,0,4.0125,NaN,C,0
467,0,2,male,NaN,0,0,0.0000,NaN,S,0
598,0,3,male,49.00,0,0,0.0000,NaN,S,0
272,1,3,male,25.00,0,0,0.0000,NaN,S,0
278,0,2,male,NaN,0,0,0.0000,NaN,S,0
807,0,1,male,39.00,0,0,0.0000,A36,S,0
482,0,2,male,NaN,0,0,0.0000,NaN,S,0
303,0,3,male,19.00,0,0,0.0000,NaN,S,0
180,0,3,male,36.00,0,0,0.0000,NaN,S,0
264,0,1,male,40.00,0,0,0.0000,B94,S,0
816,0,1,male,NaN,0,0,0.0000,B102,S,0
634,0,1,male,NaN,0,0,0.0000,NaN,S,0
414,0,2,male,NaN,0,0,0.0000,NaN,S,0
823,0,1,male,38.00,0,0,0.0000,NaN,S,0
733,0,2,male,NaN,0,0,0.0000,NaN,S,0
675,0,2,male,NaN,0,0,0.0000,NaN,S,0

### handling missing data

pandas primarily uses the value np.nan to represent missing data. It is by default not included in computations.

There are two ways to handle missing data: drop the row including nan value or fill it with default value.

In [25]:
trainDataframe.isnull().sum(axis = 0)

Survived        0
Pclass          0
Sex             0
Age           177
SibSp           0
Parch           0
Fare            0
Cabin         687
Embarked        2
FamilySize      0
dtype: int64

In [26]:
trainDataframe.dropna(how='any', axis = 0)

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,FamilySize
PassengerId,,,,,,,,,,
2,1,1,female,38.0,1,0,71.2833,C85,C,1
4,1,1,female,35.0,1,0,53.1000,C123,S,1
7,0,1,male,54.0,0,0,51.8625,E46,S,0
11,1,3,female,4.0,1,1,16.7000,G6,S,2
12,1,1,female,58.0,0,0,26.5500,C103,S,0
22,1,2,male,34.0,0,0,13.0000,D56,S,0
24,1,1,male,28.0,0,0,35.5000,A6,S,0
28,0,1,male,19.0,3,2,263.0000,C23 C25 C27,S,5
53,1,1,female,49.0,1,0,76.7292,D33,C,1
55,0,1,male,65.0,0,1,61.9792,B30,C,1
63,0,1,male,45.0,1,0,83.4750,C83,S,1
67,1,2,female,29.0,0,0,10.5000,F33,S,0
76,0,3,male,25.0,0,0,7.6500,F G73,S,0
89,1,1,female,23.0,3,2,263.0000,C23 C25 C27,S,5
93,0,1,male,46.0,1,0,61.1750,E31,S,1
97,0,1,male,71.0,0,0,34.6542,A5,C,0
98,1,1,male,23.0,0,1,63.3583,D10 D12,C,1
103,0,1,male,21.0,0,1,77.2875,D26,S,1
111,0,1,male,47.0,0,0,52.0000,C110,S,0
119,0,1,male,24.0,0,1,247.5208,B58 B60,C,1
124,1,2,female,32.5,0,0,13.0000,E101,S,0
125,0,1,male,54.0,0,1,77.2875,D26,S,1
137,1,1,female,19.0,0,2,26.2833,D47,S,2
138,0,1,male,37.0,1,0,53.1000,C123,S,1
140,0,1,male,24.0,0,0,79.2000,B86,C,0
149,0,2,male,36.5,0,2,26.0000,F2,S,2
152,1,1,female,22.0,1,0,66.6000,C2,S,1
171,0,1,male,61.0,0,0,33.5000,B19,S,0
175,0,1,male,56.0,0,0,30.6958,A7,C,0
178,0,1,female,50.0,0,0,28.7125,C49,C,0
...,...,...,...,...,...,...,...,...,...,...
738,1,1,male,35.0,0,0,512.3292,B101,C,0
742,0,1,male,36.0,1,0,78.8500,C46,S,1
743,1,1,female,21.0,2,2,262.3750,B57 B59 B63 B66,C,4
746,0,1,male,70.0,1,1,71.0000,B22,S,2
749,0,1,male,19.0,1,0,53.1000,D30,S,1
752,1,3,male,6.0,0,1,12.4750,E121,S,1
760,1,1,female,33.0,0,0,86.5000,B77,S,0
764,1,1,female,36.0,1,2,120.0000,B96 B98,S,3
766,1,1,female,51.0,1,0,77.9583,D11,S,1
773,0,2,female,57.0,0,0,10.5000,E77,S,0
780,1,1,female,43.0,0,1,211.3375,B3,S,1
782,1,1,female,17.0,1,0,57.0000,B20,S,1
783,0,1,male,29.0,0,0,30.0000,D6,S,0
790,0,1,male,46.0,0,0,79.2000,B82 B84,C,0
797,1,1,female,49.0,0,0,25.9292,D17,S,0
803,1,1,male,11.0,1,2,120.0000,B96 B98,S,3
807,0,1,male,39.0,0,0,0.0000,A36,S,0
810,1,1,female,33.0,1,0,53.1000,E8,S,1
821,1,1,female,52.0,1,1,93.5000,B69,S,2
824,1,3,female,27.0,0,1,12.4750,E121,S,1
836,1,1,female,39.0,1,1,83.1583,E49,C,2
854,1,1,female,16.0,0,1,39.4000,D28,S,1
858,1,1,male,51.0,0,0,26.5500,E17,S,0
863,1,1,female,48.0,0,0,25.9292,D17,S,0
868,0,1,male,31.0,0,0,50.4958,A24,S,0
872,1,1,female,47.0,1,1,52.5542,D35,S,2
873,0,1,male,33.0,0,0,5.0000,B51 B53 B55,S,0
880,1,1,female,56.0,0,1,83.1583,C50,C,1
888,1,1,female,19.0,0,0,30.0000,B42,S,0
890,1,1,male,26.0,0,0,30.0000,C148,C,0

In [27]:
#trainDataframe.fillna(value={"Cabin": "Unknown", "Age": trainDataframe["Age"].mean()}).dropna(how="any").isnull().sum(axis = 0)
trainDataframe = trainDataframe.fillna(value={"Cabin": "Unknown", 
                                              "Age": trainDataframe["Age"].mean(), 
                                              "Embarked":trainDataframe["Embarked"].mode()[0]})
trainDataframe

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,FamilySize
PassengerId,,,,,,,,,,
1,0,3,male,22.000000,1,0,7.2500,Unknown,S,1
2,1,1,female,38.000000,1,0,71.2833,C85,C,1
3,1,3,female,26.000000,0,0,7.9250,Unknown,S,0
4,1,1,female,35.000000,1,0,53.1000,C123,S,1
5,0,3,male,35.000000,0,0,8.0500,Unknown,S,0
6,0,3,male,29.699118,0,0,8.4583,Unknown,Q,0
7,0,1,male,54.000000,0,0,51.8625,E46,S,0
8,0,3,male,2.000000,3,1,21.0750,Unknown,S,4
9,1,3,female,27.000000,0,2,11.1333,Unknown,S,2
10,1,2,female,14.000000,1,0,30.0708,Unknown,C,1
11,1,3,female,4.000000,1,1,16.7000,G6,S,2
12,1,1,female,58.000000,0,0,26.5500,C103,S,0
13,0,3,male,20.000000,0,0,8.0500,Unknown,S,0
14,0,3,male,39.000000,1,5,31.2750,Unknown,S,6
15,0,3,female,14.000000,0,0,7.8542,Unknown,S,0
16,1,2,female,55.000000,0,0,16.0000,Unknown,S,0
17,0,3,male,2.000000,4,1,29.1250,Unknown,Q,5
18,1,2,male,29.699118,0,0,13.0000,Unknown,S,0
19,0,3,female,31.000000,1,0,18.0000,Unknown,S,1
20,1,3,female,29.699118,0,0,7.2250,Unknown,C,0
21,0,2,male,35.000000,0,0,26.0000,Unknown,S,0
22,1,2,male,34.000000,0,0,13.0000,D56,S,0
23,1,3,female,15.000000,0,0,8.0292,Unknown,Q,0
24,1,1,male,28.000000,0,0,35.5000,A6,S,0
25,0,3,female,8.000000,3,1,21.0750,Unknown,S,4
26,1,3,female,38.000000,1,5,31.3875,Unknown,S,6
27,0,3,male,29.699118,0,0,7.2250,Unknown,C,0
28,0,1,male,19.000000,3,2,263.0000,C23 C25 C27,S,5
29,1,3,female,29.699118,0,0,7.8792,Unknown,Q,0
30,0,3,male,29.699118,0,0,7.8958,Unknown,S,0
...,...,...,...,...,...,...,...,...,...,...
862,0,2,male,21.000000,1,0,11.5000,Unknown,S,1
863,1,1,female,48.000000,0,0,25.9292,D17,S,0
864,0,3,female,29.699118,8,2,69.5500,Unknown,S,10
865,0,2,male,24.000000,0,0,13.0000,Unknown,S,0
866,1,2,female,42.000000,0,0,13.0000,Unknown,S,0
867,1,2,female,27.000000,1,0,13.8583,Unknown,C,1
868,0,1,male,31.000000,0,0,50.4958,A24,S,0
869,0,3,male,29.699118,0,0,9.5000,Unknown,S,0
870,1,3,male,4.000000,1,1,11.1333,Unknown,S,2
871,0,3,male,26.000000,0,0,7.8958,Unknown,S,0
872,1,1,female,47.000000,1,1,52.5542,D35,S,2
873,0,1,male,33.000000,0,0,5.0000,B51 B53 B55,S,0
874,0,3,male,47.000000,0,0,9.0000,Unknown,S,0
875,1,2,female,28.000000,1,0,24.0000,Unknown,C,1
876,1,3,female,15.000000,0,0,7.2250,Unknown,C,0
877,0,3,male,20.000000,0,0,9.8458,Unknown,S,0
878,0,3,male,19.000000,0,0,7.8958,Unknown,S,0
879,0,3,male,29.699118,0,0,7.8958,Unknown,S,0
880,1,1,female,56.000000,0,1,83.1583,C50,C,1
881,1,2,female,25.000000,0,1,26.0000,Unknown,S,1
882,0,3,male,33.000000,0,0,7.8958,Unknown,S,0
883,0,3,female,22.000000,0,0,10.5167,Unknown,S,0
884,0,2,male,28.000000,0,0,10.5000,Unknown,S,0
885,0,3,male,25.000000,0,0,7.0500,Unknown,S,0
886,0,3,female,39.000000,0,5,29.1250,Unknown,Q,5
887,0,2,male,27.000000,0,0,13.0000,Unknown,S,0
888,1,1,female,19.000000,0,0,30.0000,B42,S,0
889,0,3,female,29.699118,1,2,23.4500,Unknown,S,3
890,1,1,male,26.000000,0,0,30.0000,C148,C,0
891,0,3,male,32.000000,0,0,7.7500,Unknown,Q,0

In [28]:
trainDataframe["Embarked"].mode()

0    S
dtype: object

### apply

apply function applies a function on each element in the column.

In [29]:
trainDataframe["Cabin"] = trainDataframe["Cabin"].apply(lambda x : x[0])
trainDataframe

,Survived,Pclass,Sex,Age,SibSp,Parch,Fare,Cabin,Embarked,FamilySize
PassengerId,,,,,,,,,,
1,0,3,male,22.000000,1,0,7.2500,U,S,1
2,1,1,female,38.000000,1,0,71.2833,C,C,1
3,1,3,female,26.000000,0,0,7.9250,U,S,0
4,1,1,female,35.000000,1,0,53.1000,C,S,1
5,0,3,male,35.000000,0,0,8.0500,U,S,0
6,0,3,male,29.699118,0,0,8.4583,U,Q,0
7,0,1,male,54.000000,0,0,51.8625,E,S,0
8,0,3,male,2.000000,3,1,21.0750,U,S,4
9,1,3,female,27.000000,0,2,11.1333,U,S,2
10,1,2,female,14.000000,1,0,30.0708,U,C,1
11,1,3,female,4.000000,1,1,16.7000,G,S,2
12,1,1,female,58.000000,0,0,26.5500,C,S,0
13,0,3,male,20.000000,0,0,8.0500,U,S,0
14,0,3,male,39.000000,1,5,31.2750,U,S,6
15,0,3,female,14.000000,0,0,7.8542,U,S,0
16,1,2,female,55.000000,0,0,16.0000,U,S,0
17,0,3,male,2.000000,4,1,29.1250,U,Q,5
18,1,2,male,29.699118,0,0,13.0000,U,S,0
19,0,3,female,31.000000,1,0,18.0000,U,S,1
20,1,3,female,29.699118,0,0,7.2250,U,C,0
21,0,2,male,35.000000,0,0,26.0000,U,S,0
22,1,2,male,34.000000,0,0,13.0000,D,S,0
23,1,3,female,15.000000,0,0,8.0292,U,Q,0
24,1,1,male,28.000000,0,0,35.5000,A,S,0
25,0,3,female,8.000000,3,1,21.0750,U,S,4
26,1,3,female,38.000000,1,5,31.3875,U,S,6
27,0,3,male,29.699118,0,0,7.2250,U,C,0
28,0,1,male,19.000000,3,2,263.0000,C,S,5
29,1,3,female,29.699118,0,0,7.8792,U,Q,0
30,0,3,male,29.699118,0,0,7.8958,U,S,0
...,...,...,...,...,...,...,...,...,...,...
862,0,2,male,21.000000,1,0,11.5000,U,S,1
863,1,1,female,48.000000,0,0,25.9292,D,S,0
864,0,3,female,29.699118,8,2,69.5500,U,S,10
865,0,2,male,24.000000,0,0,13.0000,U,S,0
866,1,2,female,42.000000,0,0,13.0000,U,S,0
867,1,2,female,27.000000,1,0,13.8583,U,C,1
868,0,1,male,31.000000,0,0,50.4958,A,S,0
869,0,3,male,29.699118,0,0,9.5000,U,S,0
870,1,3,male,4.000000,1,1,11.1333,U,S,2
871,0,3,male,26.000000,0,0,7.8958,U,S,0
872,1,1,female,47.000000,1,1,52.5542,D,S,2
873,0,1,male,33.000000,0,0,5.0000,B,S,0
874,0,3,male,47.000000,0,0,9.0000,U,S,0
875,1,2,female,28.000000,1,0,24.0000,U,C,1
876,1,3,female,15.000000,0,0,7.2250,U,C,0
877,0,3,male,20.000000,0,0,9.8458,U,S,0
878,0,3,male,19.000000,0,0,7.8958,U,S,0
879,0,3,male,29.699118,0,0,7.8958,U,S,0
880,1,1,female,56.000000,0,1,83.1583,C,C,1
881,1,2,female,25.000000,0,1,26.0000,U,S,1
882,0,3,male,33.000000,0,0,7.8958,U,S,0
883,0,3,female,22.000000,0,0,10.5167,U,S,0
884,0,2,male,28.000000,0,0,10.5000,U,S,0
885,0,3,male,25.000000,0,0,7.0500,U,S,0
886,0,3,female,39.000000,0,5,29.1250,U,Q,5
887,0,2,male,27.000000,0,0,13.0000,U,S,0
888,1,1,female,19.000000,0,0,30.0000,B,S,0
889,0,3,female,29.699118,1,2,23.4500,U,S,3
890,1,1,male,26.000000,0,0,30.0000,C,C,0
891,0,3,male,32.000000,0,0,7.7500,U,Q,0

### one-hot encoding

For categorical feature which is not ordinal, we tend to transform it to a list of one-hot encoding features.

In [30]:
pd.get_dummies(trainDataframe[["Sex","Cabin", "Embarked"]])

,Sex_female,Sex_male,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Cabin_U,Embarked_C,Embarked_Q,Embarked_S
PassengerId,,,,,,,,,,,,,,
1,0,1,0,0,0,0,0,0,0,0,1,0,0,1
2,1,0,0,0,1,0,0,0,0,0,0,1,0,0
3,1,0,0,0,0,0,0,0,0,0,1,0,0,1
4,1,0,0,0,1,0,0,0,0,0,0,0,0,1
5,0,1,0,0,0,0,0,0,0,0,1,0,0,1
6,0,1,0,0,0,0,0,0,0,0,1,0,1,0
7,0,1,0,0,0,0,1,0,0,0,0,0,0,1
8,0,1,0,0,0,0,0,0,0,0,1,0,0,1
9,1,0,0,0,0,0,0,0,0,0,1,0,0,1
10,1,0,0,0,0,0,0,0,0,0,1,1,0,0
11,1,0,0,0,0,0,0,0,1,0,0,0,0,1
12,1,0,0,0,1,0,0,0,0,0,0,0,0,1
13,0,1,0,0,0,0,0,0,0,0,1,0,0,1
14,0,1,0,0,0,0,0,0,0,0,1,0,0,1
15,1,0,0,0,0,0,0,0,0,0,1,0,0,1
16,1,0,0,0,0,0,0,0,0,0,1,0,0,1
17,0,1,0,0,0,0,0,0,0,0,1,0,1,0
18,0,1,0,0,0,0,0,0,0,0,1,0,0,1
19,1,0,0,0,0,0,0,0,0,0,1,0,0,1
20,1,0,0,0,0,0,0,0,0,0,1,1,0,0
21,0,1,0,0,0,0,0,0,0,0,1,0,0,1
22,0,1,0,0,0,1,0,0,0,0,0,0,0,1
23,1,0,0,0,0,0,0,0,0,0,1,0,1,0
24,0,1,1,0,0,0,0,0,0,0,0,0,0,1
25,1,0,0,0,0,0,0,0,0,0,1,0,0,1
26,1,0,0,0,0,0,0,0,0,0,1,0,0,1
27,0,1,0,0,0,0,0,0,0,0,1,1,0,0
28,0,1,0,0,1,0,0,0,0,0,0,0,0,1
29,1,0,0,0,0,0,0,0,0,0,1,0,1,0
30,0,1,0,0,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
862,0,1,0,0,0,0,0,0,0,0,1,0,0,1
863,1,0,0,0,0,1,0,0,0,0,0,0,0,1
864,1,0,0,0,0,0,0,0,0,0,1,0,0,1
865,0,1,0,0,0,0,0,0,0,0,1,0,0,1
866,1,0,0,0,0,0,0,0,0,0,1,0,0,1
867,1,0,0,0,0,0,0,0,0,0,1,1,0,0
868,0,1,1,0,0,0,0,0,0,0,0,0,0,1
869,0,1,0,0,0,0,0,0,0,0,1,0,0,1
870,0,1,0,0,0,0,0,0,0,0,1,0,0,1
871,0,1,0,0,0,0,0,0,0,0,1,0,0,1
872,1,0,0,0,0,1,0,0,0,0,0,0,0,1
873,0,1,0,1,0,0,0,0,0,0,0,0,0,1
874,0,1,0,0,0,0,0,0,0,0,1,0,0,1
875,1,0,0,0,0,0,0,0,0,0,1,1,0,0
876,1,0,0,0,0,0,0,0,0,0,1,1,0,0
877,0,1,0,0,0,0,0,0,0,0,1,0,0,1
878,0,1,0,0,0,0,0,0,0,0,1,0,0,1
879,0,1,0,0,0,0,0,0,0,0,1,0,0,1
880,1,0,0,0,1,0,0,0,0,0,0,1,0,0
881,1,0,0,0,0,0,0,0,0,0,1,0,0,1
882,0,1,0,0,0,0,0,0,0,0,1,0,0,1
883,1,0,0,0,0,0,0,0,0,0,1,0,0,1
884,0,1,0,0,0,0,0,0,0,0,1,0,0,1
885,0,1,0,0,0,0,0,0,0,0,1,0,0,1
886,1,0,0,0,0,0,0,0,0,0,1,0,1,0
887,0,1,0,0,0,0,0,0,0,0,1,0,0,1
888,1,0,0,1,0,0,0,0,0,0,0,0,0,1
889,1,0,0,0,0,0,0,0,0,0,1,0,0,1
890,0,1,0,0,1,0,0,0,0,0,0,1,0,0
891,0,1,0,0,0,0,0,0,0,0,1,0,1,0

### merge

pd.concat can perform concatenation along columns or rows.

In [31]:
trainDataframe = pd.concat([trainDataframe, pd.get_dummies(trainDataframe[["Sex","Cabin", "Embarked"]])], axis = 1) #default ignore_index is False

In [32]:
trainDataframe = trainDataframe.drop(["Sex","Cabin", "Embarked"], axis=1)

In [33]:
trainDataframe

,Survived,Pclass,Age,SibSp,Parch,Fare,FamilySize,Sex_female,Sex_male,Cabin_A,...,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Cabin_U,Embarked_C,Embarked_Q,Embarked_S
PassengerId,,,,,,,,,,,,,,,,,,,,,
1,0,3,22.000000,1,0,7.2500,1,0,1,0,...,0,0,0,0,0,0,1,0,0,1
2,1,1,38.000000,1,0,71.2833,1,1,0,0,...,1,0,0,0,0,0,0,1,0,0
3,1,3,26.000000,0,0,7.9250,0,1,0,0,...,0,0,0,0,0,0,1,0,0,1
4,1,1,35.000000,1,0,53.1000,1,1,0,0,...,1,0,0,0,0,0,0,0,0,1
5,0,3,35.000000,0,0,8.0500,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
6,0,3,29.699118,0,0,8.4583,0,0,1,0,...,0,0,0,0,0,0,1,0,1,0
7,0,1,54.000000,0,0,51.8625,0,0,1,0,...,0,0,1,0,0,0,0,0,0,1
8,0,3,2.000000,3,1,21.0750,4,0,1,0,...,0,0,0,0,0,0,1,0,0,1
9,1,3,27.000000,0,2,11.1333,2,1,0,0,...,0,0,0,0,0,0,1,0,0,1
10,1,2,14.000000,1,0,30.0708,1,1,0,0,...,0,0,0,0,0,0,1,1,0,0
11,1,3,4.000000,1,1,16.7000,2,1,0,0,...,0,0,0,0,1,0,0,0,0,1
12,1,1,58.000000,0,0,26.5500,0,1,0,0,...,1,0,0,0,0,0,0,0,0,1
13,0,3,20.000000,0,0,8.0500,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
14,0,3,39.000000,1,5,31.2750,6,0,1,0,...,0,0,0,0,0,0,1,0,0,1
15,0,3,14.000000,0,0,7.8542,0,1,0,0,...,0,0,0,0,0,0,1,0,0,1
16,1,2,55.000000,0,0,16.0000,0,1,0,0,...,0,0,0,0,0,0,1,0,0,1
17,0,3,2.000000,4,1,29.1250,5,0,1,0,...,0,0,0,0,0,0,1,0,1,0
18,1,2,29.699118,0,0,13.0000,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
19,0,3,31.000000,1,0,18.0000,1,1,0,0,...,0,0,0,0,0,0,1,0,0,1
20,1,3,29.699118,0,0,7.2250,0,1,0,0,...,0,0,0,0,0,0,1,1,0,0
21,0,2,35.000000,0,0,26.0000,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
22,1,2,34.000000,0,0,13.0000,0,0,1,0,...,0,1,0,0,0,0,0,0,0,1
23,1,3,15.000000,0,0,8.0292,0,1,0,0,...,0,0,0,0,0,0,1,0,1,0
24,1,1,28.000000,0,0,35.5000,0,0,1,1,...,0,0,0,0,0,0,0,0,0,1
25,0,3,8.000000,3,1,21.0750,4,1,0,0,...,0,0,0,0,0,0,1,0,0,1
26,1,3,38.000000,1,5,31.3875,6,1,0,0,...,0,0,0,0,0,0,1,0,0,1
27,0,3,29.699118,0,0,7.2250,0,0,1,0,...,0,0,0,0,0,0,1,1,0,0
28,0,1,19.000000,3,2,263.0000,5,0,1,0,...,1,0,0,0,0,0,0,0,0,1
29,1,3,29.699118,0,0,7.8792,0,1,0,0,...,0,0,0,0,0,0,1,0,1,0
30,0,3,29.699118,0,0,7.8958,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
862,0,2,21.000000,1,0,11.5000,1,0,1,0,...,0,0,0,0,0,0,1,0,0,1
863,1,1,48.000000,0,0,25.9292,0,1,0,0,...,0,1,0,0,0,0,0,0,0,1
864,0,3,29.699118,8,2,69.5500,10,1,0,0,...,0,0,0,0,0,0,1,0,0,1
865,0,2,24.000000,0,0,13.0000,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
866,1,2,42.000000,0,0,13.0000,0,1,0,0,...,0,0,0,0,0,0,1,0,0,1
867,1,2,27.000000,1,0,13.8583,1,1,0,0,...,0,0,0,0,0,0,1,1,0,0
868,0,1,31.000000,0,0,50.4958,0,0,1,1,...,0,0,0,0,0,0,0,0,0,1
869,0,3,29.699118,0,0,9.5000,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
870,1,3,4.000000,1,1,11.1333,2,0,1,0,...,0,0,0,0,0,0,1,0,0,1
871,0,3,26.000000,0,0,7.8958,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
872,1,1,47.000000,1,1,52.5542,2,1,0,0,...,0,1,0,0,0,0,0,0,0,1
873,0,1,33.000000,0,0,5.0000,0,0,1,0,...,0,0,0,0,0,0,0,0,0,1
874,0,3,47.000000,0,0,9.0000,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
875,1,2,28.000000,1,0,24.0000,1,1,0,0,...,0,0,0,0,0,0,1,1,0,0
876,1,3,15.000000,0,0,7.2250,0,1,0,0,...,0,0,0,0,0,0,1,1,0,0
877,0,3,20.000000,0,0,9.8458,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
878,0,3,19.000000,0,0,7.8958,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
879,0,3,29.699118,0,0,7.8958,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
880,1,1,56.000000,0,1,83.1583,1,1,0,0,...,1,0,0,0,0,0,0,1,0,0
881,1,2,25.000000,0,1,26.0000,1,1,0,0,...,0,0,0,0,0,0,1,0,0,1
882,0,3,33.000000,0,0,7.8958,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
883,0,3,22.000000,0,0,10.5167,0,1,0,0,...,0,0,0,0,0,0,1,0,0,1
884,0,2,28.000000,0,0,10.5000,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
885,0,3,25.000000,0,0,7.0500,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
886,0,3,39.000000,0,5,29.1250,5,1,0,0,...,0,0,0,0,0,0,1,0,1,0
887,0,2,27.000000,0,0,13.0000,0,0,1,0,...,0,0,0,0,0,0,1,0,0,1
888,1,1,19.000000,0,0,30.0000,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
889,0,3,29.699118,1,2,23.4500,3,1,0,0,...,0,0,0,0,0,0,1,0,0,1
890,1,1,26.000000,0,0,30.0000,0,0,1,0,...,1,0,0,0,0,0,0,1,0,0
891,0,3,32.000000,0,0,7.7500,0,0,1,0,...,0,0,0,0,0,0,1,0,1,0

### normalizing

Normalization eases model's work on learning weights.

In [34]:
features = trainDataframe.loc[:, trainDataframe.columns != 'Survived'] 
trainDataframe.loc[:, trainDataframe.columns != 'Survived'] = (features-features.mean())/features.std() # try change the right part to features.
trainDataframe

,Survived,Pclass,Age,SibSp,Parch,Fare,FamilySize,Sex_female,Sex_male,Cabin_A,...,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T,Cabin_U,Embarked_C,Embarked_Q,Embarked_S
PassengerId,,,,,,,,,,,,,,,,,,,,,
1,0,0.826913,-5.921480e-01,0.432550,-0.473408,-0.502163,0.059127,-0.737281,0.737281,-0.130783,...,-0.266146,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,0.544619,-0.481772,-0.307390,0.615493
2,1,-1.565228,6.384304e-01,0.432550,-0.473408,0.786404,0.059127,1.354813,-1.354813,-0.130783,...,3.753114,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,-1.834085,2.073341,-0.307390,-1.622891
3,1,0.826913,-2.845034e-01,-0.474279,-0.473408,-0.488580,-0.560660,1.354813,-1.354813,-0.130783,...,-0.266146,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,0.544619,-0.481772,-0.307390,0.615493
4,1,-1.565228,4.076970e-01,0.432550,-0.473408,0.420494,0.059127,1.354813,-1.354813,-0.130783,...,3.753114,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,-1.834085,-0.481772,-0.307390,0.615493
5,0,0.826913,4.076970e-01,-0.474279,-0.473408,-0.486064,-0.560660,-0.737281,0.737281,-0.130783,...,-0.266146,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,0.544619,-0.481772,-0.307390,0.615493
6,0,0.826913,4.371893e-15,-0.474279,-0.473408,-0.477848,-0.560660,-0.737281,0.737281,-0.130783,...,-0.266146,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,0.544619,-0.481772,3.249548,-1.622891
7,0,-1.565228,1.869009e+00,-0.474279,-0.473408,0.395591,-0.560660,-0.737281,0.737281,-0.130783,...,-0.266146,-0.196006,5.178187,-0.121613,-0.067116,-0.033501,-1.834085,-0.481772,-0.307390,0.615493
8,0,0.826913,-2.130371e+00,2.246209,0.767199,-0.223957,1.918486,-0.737281,0.737281,-0.130783,...,-0.266146,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,0.544619,-0.481772,-0.307390,0.615493
9,1,0.826913,-2.075923e-01,-0.474279,2.007806,-0.424018,0.678913,1.354813,-1.354813,-0.130783,...,-0.266146,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,0.544619,-0.481772,-0.307390,0.615493
10,1,-0.369158,-1.207437e+00,0.432550,-0.473408,-0.042931,0.059127,1.354813,-1.354813,-0.130783,...,-0.266146,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,0.544619,2.073341,-0.307390,-1.622891
11,1,0.826913,-1.976549e+00,0.432550,0.767199,-0.311997,0.678913,1.354813,-1.354813,-0.130783,...,-0.266146,-0.196006,-0.192901,-0.121613,14.882914,-0.033501,-1.834085,-0.481772,-0.307390,0.615493
12,1,-1.565228,2.176654e+00,-0.474279,-0.473408,-0.113782,-0.560660,1.354813,-1.354813,-0.130783,...,3.753114,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,-1.834085,-0.481772,-0.307390,0.615493
13,0,0.826913,-7.459703e-01,-0.474279,-0.473408,-0.486064,-0.560660,-0.737281,0.737281,-0.130783,...,-0.266146,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,0.544619,-0.481772,-0.307390,0.615493
14,0,0.826913,7.153416e-01,0.432550,5.729626,-0.018699,3.158060,-0.737281,0.737281,-0.130783,...,-0.266146,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,0.544619,-0.481772,-0.307390,0.615493
15,0,0.826913,-1.207437e+00,-0.474279,-0.473408,-0.490005,-0.560660,1.354813,-1.354813,-0.130783,...,-0.266146,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,0.544619,-0.481772,-0.307390,0.615493
16,1,-0.369158,1.945920e+00,-0.474279,-0.473408,-0.326084,-0.560660,1.354813,-1.354813,-0.130783,...,-0.266146,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,0.544619,-0.481772,-0.307390,0.615493
17,0,0.826913,-2.130371e+00,3.153038,0.767199,-0.061964,2.538273,-0.737281,0.737281,-0.130783,...,-0.266146,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,0.544619,-0.481772,3.249548,-1.622891
18,1,-0.369158,4.371893e-15,-0.474279,-0.473408,-0.386454,-0.560660,-0.737281,0.737281,-0.130783,...,-0.266146,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,0.544619,-0.481772,-0.307390,0.615493
19,0,0.826913,1.000524e-01,0.432550,-0.473408,-0.285837,0.059127,1.354813,-1.354813,-0.130783,...,-0.266146,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,0.544619,-0.481772,-0.307390,0.615493
20,1,0.826913,4.371893e-15,-0.474279,-0.473408,-0.502666,-0.560660,1.354813,-1.354813,-0.130783,...,-0.266146,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,0.544619,2.073341,-0.307390,-1.622891
21,0,-0.369158,4.076970e-01,-0.474279,-0.473408,-0.124850,-0.560660,-0.737281,0.737281,-0.130783,...,-0.266146,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,0.544619,-0.481772,-0.307390,0.615493
22,1,-0.369158,3.307858e-01,-0.474279,-0.473408,-0.386454,-0.560660,-0.737281,0.737281,-0.130783,...,-0.266146,5.096157,-0.192901,-0.121613,-0.067116,-0.033501,-1.834085,-0.481772,-0.307390,0.615493
23,1,0.826913,-1.130526e+00,-0.474279,-0.473408,-0.486483,-0.560660,1.354813,-1.354813,-0.130783,...,-0.266146,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,0.544619,-0.481772,3.249548,-1.622891
24,1,-1.565228,-1.306811e-01,-0.474279,-0.473408,0.066322,-0.560660,-0.737281,0.737281,7.637700,...,-0.266146,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,-1.834085,-0.481772,-0.307390,0.615493
25,0,0.826913,-1.668904e+00,2.246209,0.767199,-0.223957,1.918486,1.354813,-1.354813,-0.130783,...,-0.266146,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,0.544619,-0.481772,-0.307390,0.615493
26,1,0.826913,6.384304e-01,0.432550,5.729626,-0.016435,3.158060,1.354813,-1.354813,-0.130783,...,-0.266146,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,0.544619,-0.481772,-0.307390,0.615493
27,0,0.826913,4.371893e-15,-0.474279,-0.473408,-0.502666,-0.560660,-0.737281,0.737281,-0.130783,...,-0.266146,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,0.544619,2.073341,-0.307390,-1.622891
28,0,-1.565228,-8.228815e-01,2.246209,2.007806,4.644393,2.538273,-0.737281,0.737281,-0.130783,...,3.753114,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,-1.834085,-0.481772,-0.307390,0.615493
29,1,0.826913,4.371893e-15,-0.474279,-0.473408,-0.489502,-0.560660,1.354813,-1.354813,-0.130783,...,-0.266146,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,0.544619,-0.481772,3.249548,-1.622891
30,0,0.826913,4.371893e-15,-0.474279,-0.473408,-0.489167,-0.560660,-0.737281,0.737281,-0.130783,...,-0.266146,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,0.544619,-0.481772,-0.307390,0.615493
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
862,0,-0.369158,-6.690592e-01,0.432550,-0.473408,-0.416639,0.059127,-0.737281,0.737281,-0.130783,...,-0.266146,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,0.544619,-0.481772,-0.307390,0.615493
863,1,-1.565228,1.407542e+00,-0.474279,-0.473408,-0.126274,-0.560660,1.354813,-1.354813,-0.130783,...,-0.266146,5.096157,-0.192901,-0.121613,-0.067116,-0.033501,-1.834085,-0.481772,-0.307390,0.615493
864,0,0.826913,4.371893e-15,6.780355,2.007806,0.751524,5.637206,1.354813,-1.354813,-0.130783,...,-0.266146,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,0.544619,-0.481772,-0.307390,0.615493
865,0,-0.369158,-4.383257e-01,-0.474279,-0.473408,-0.386454,-0.560660,-0.737281,0.737281,-0.130783,...,-0.266146,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,0.544619,-0.481772,-0.307390,0.615493
866,1,-0.369158,9.460751e-01,-0.474279,-0.473408,-0.386454,-0.560660,1.354813,-1.354813,-0.130783,...,-0.266146,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,0.544619,-0.481772,-0.307390,0.615493
867,1,-0.369158,-2.075923e-01,0.432550,-0.473408,-0.369182,0.059127,1.354813,-1.354813,-0.130783,...,-0.266146,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,0.544619,2.073341,-0.307390,-1.622891
868,0,-1.565228,1.000524e-01,-0.474279,-0.473408,0.368089,-0.560660,-0.737281,0.737281,7.637700,...,-0.266146,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,-1.834085,-0.481772,-0.307390,0.615493
869,0,0.826913,4.371893e-15,-0.474279,-0.473408,-0.456886,-0.560660,-0.737281,0.737281,-0.130783,...,-0.266146,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,0.544619,-0.481772,-0.307390,0.615493
870,1,0.826913,-1.976549e+00,0.432550,0.767199,-0.424018,0.678913,-0.737281,0.737281,-0.130783,...,-0.266146,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,0.544619,-0.481772,-0.307390,0.615493
871,0,0.826913,-2.845034e-01,-0.474279,-0.473408,-0.489167,-0.560660,-0.737281,0.737281,-0.130783,...,-0.266146,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,0.544619,-0.481772,-0.307390,0.615493
872,1,-1.565228,1.330631e+00,0.432550,0.767199,0.409511,0.678913,1.354813,-1.354813,-0.130783,...,-0.266146,5.096157,-0.192901,-0.121613,-0.067116,-0.033501,-1.834085,-0.481772,-0.307390,0.615493
873,0,-1.565228,2.538747e-01,-0.474279,-0.473408,-0.547441,-0.560660,-0.737281,0.737281,-0.130783,...,-0.266146,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,-1.834085,-0.481772,-0.307390,0.615493
874,0,0.826913,1.330631e+00,-0.474279,-0.473408,-0.466947,-0.560660,-0.737281,0.737281,-0.130783,...,-0.266146,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,0.544619,-0.481772,-0.307390,0.615493
875,1,-0.369158,-1.306811e-01,0.432550,-0.473408,-0.165096,0.059127,1.354813,-1.354813,-0.130783,...,-0.266146,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,0.544619,2.073341,-0.307390,-1.622891
876,1,0.826913,-1.130526e+00,-0.474279,-0.473408,-0.502666,-0.560660,1.354813,-1.354813,-0.130783,...,-0.266146,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,0.544619,2.073341,-0.307390,-1.622891
877,0,0.826913,-7.459703e-01,-0.474279,-0.473408,-0.449927,-0.560660,-0.737281,0.737281,-0.130783,...,-0.266146,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,0.544619,-0.481772,-0.307390,0.615493
878,0,0.826913,-8.228815e-01,-0.474279,-0.473408,-0.489167,-0.560660,-0.737281,0.737281,-0.130783,...,-0.266146,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,0.544619,-0.481772,-0.307390,0.615493
879,0,0.826913,4.371893e-15,-0.474279,-0.473408,-0.489167,-0.560660,-0.737281,0.737281,-0.130783,...,-0.266146,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,0.544619,-0.481772,-0.307390,0.615493
880,1,-1.565228,2.022831e+00,-0.474279,0.767199,1.025369,0.059127,1.354813,-1.354813,-0.130783,...,3.753114,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,-1.834085,2.073341,-0.307390,-1.622891
881,1,-0.369158,-3.614146e-01,-0.474279,0.767199,-0.124850,0.059127,1.354813,-1.354813,-0.130783,...,-0.266146,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,0.544619,-0.481772,-0.307390,0.615493
882,0,0.826913,2.538747e-01,-0.474279,-0.473408,-0.489167,-0.560660,-0.737281,0.737281,-0.130783,...,-0.266146,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,0.544619,-0.481772,-0.307390,0.615493
883,0,0.826913,-5.921480e-01,-0.474279,-0.473408,-0.436426,-0.560660,1.354813,-1.354813,-0.130783,...,-0.266146,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,0.544619,-0.481772,-0.307390,0.615493
884,0,-0.369158,-1.306811e-01,-0.474279,-0.473408,-0.436762,-0.560660,-0.737281,0.737281,-0.130783,...,-0.266146,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,0.544619,-0.481772,-0.307390,0.615493
885,0,0.826913,-3.614146e-01,-0.474279,-0.473408,-0.506188,-0.560660,-0.737281,0.737281,-0.130783,...,-0.266146,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,0.544619,-0.481772,-0.307390,0.615493
886,0,0.826913,7.153416e-01,-0.474279,5.729626,-0.061964,2.538273,1.354813,-1.354813,-0.130783,...,-0.266146,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,0.544619,-0.481772,3.249548,-1.622891
887,0,-0.369158,-2.075923e-01,-0.474279,-0.473408,-0.386454,-0.560660,-0.737281,0.737281,-0.130783,...,-0.266146,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,0.544619,-0.481772,-0.307390,0.615493
888,1,-1.565228,-8.228815e-01,-0.474279,-0.473408,-0.044356,-0.560660,1.354813,-1.354813,-0.130783,...,-0.266146,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,-1.834085,-0.481772,-0.307390,0.615493
889,0,0.826913,4.371893e-15,0.432550,2.007806,-0.176164,1.298700,1.354813,-1.354813,-0.130783,...,-0.266146,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,0.544619,-0.481772,-0.307390,0.615493
890,1,-1.565228,-2.845034e-01,-0.474279,-0.473408,-0.044356,-0.560660,-0.737281,0.737281,-0.130783,...,3.753114,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,-1.834085,2.073341,-0.307390,-1.622891
891,0,0.826913,1.769635e-01,-0.474279,-0.473408,-0.492101,-0.560660,-0.737281,0.737281,-0.130783,...,-0.266146,-0.196006,-0.192901,-0.121613,-0.067116,-0.033501,0.544619,-0.481772,3.249548,-1.622891

Now all thing are prepared for a scikit-learn model to train. We output it for later use.

In [35]:
trainDataframe.to_csv("preprocessed_data.csv", index=False)